<head>
	<title>Dougstooth</title>
	<style>
		body { margin: 0; }
		canvas { display: block; margin: auto; }
	</style>
</head>
<body>
	<canvas id="myCanvas"></canvas>
	<%= javascript_include_tag "dougstooth/OrbitControls" %>
	<%= javascript_include_tag "dougstooth/OBJLoader" %>
	<script> dougstooth = '<%= asset_path 'dougstooth.obj' %>';	</script>
	<%= javascript_include_tag "dougstooth/dougstooth" %>
</body>
