body {
  background-color: $background-grey;
  color: $background-grey;
  a {
    color: $background-grey;
  }

  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}

canvas {
  width: 20vw;
  height: 20vw;
}

.name-row {
  flex: 6;
  @include unselectable_section_colors($red-for-me);

  .name {
    flex: 1;

    .name-text {
      font-weight: 700;
      @include scalable_w_limits(9);
    }
  }
}

.info-row {
  flex: 9;
  @include unselectable_section_colors($red-for-me);

  .info {
    flex: 5;

    .info-text {
      @include scalable_w_limits(5);
    }
  }

  .photo {
    flex: 4;
  }
}

.code-links-row {
  flex: 5;

  .cv, .li, .gh, .rb, .dt {
    flex: 1;
    a {
      transition: color 0.5s;
      &:hover {
        color: $hovered;
      }
      &.section-hovered {
        color: $section-hovered;
      }
    }
  }

  .cv, .li {
    background-color: mix($red-for-me, $orange-for-code);
  }

  .gh, .rb, .dt {
    background-color: $orange-for-code;
  }

  .dt-wrapper {
    @include scalable_drempt_wrapper(10);

    .dt-text {
      float: right;
      background: $background-grey;
      @include scalable_drempt_extras(10);
    }
  }
}

.code-row {
  flex: 8;

  .code {
    flex: 1;
    @include unselectable_section_colors($orange-for-code);
  }
}

.music-links-row {
  flex: 7;

  .demos {
    flex: 2;
    background-color: mix(
      mix($blue-for-music, $green-for-vr),
      $orange-for-code,
      $inv-phi-percent
    );
  }

  .gr, .sc {
    flex: 1;
  }

  .gr {
    background-color: mix($orange-for-code, $blue-for-music, $inv-phi-percent);
  }

  .sc {
    background-color: mix($blue-for-music, $orange-for-code, $inv-phi-percent);
  }
}

.vr-music-row {
  flex: 7;

  .vr {
    flex: 1;
    @include unselectable_section_colors($green-for-vr);
  }

  .music {
    flex: 2;
    @include unselectable_section_colors($blue-for-music);
  }
}

.misc-row {
  flex: 6;

  .film, .vm, .blog {
    flex: 1;
  }

  .word, .fmi {
    flex: 2;
  }

  .film {
    @include unselectable_section_colors($pink-for-film);

    .film-text {
      transform: rotate(270deg);
    }
  }

  .vm {
    background-color: mix($green-for-vr, $pink-for-film);
  }

  .blog {
    background-color: mix(
      mix($green-for-vr, $blue-for-music),
      mix($yellow-for-word, $pink-for-film)
    );
  }

  .word {
    @include unselectable_section_colors($yellow-for-word);
  }

  .fmi {
    background-color: mix($blue-for-music, $yellow-for-word);
  }
}
