<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>othoundsto</title>

</head>

<body>
    <canvas class="canvas"></canvas>



		<!--<script src="../../app/assets/javascripts/othoundsto_song/canvas.js"></script>
		<script src="../../app/assets/javascripts/othoundsto_song/keyboard.js"></script>
		<script src="../../app/assets/javascripts/othoundsto_song/rotation.js"></script>
		<script src="../../app/assets/javascripts/othoundsto_song/collision.js"></script>

		<script src="../../app/assets/javascripts/othoundsto_song/audio.js"></script>
		<script src="../../app/assets/javascripts/othoundsto_song/houndstooth.js"></script>
		<script src="../../app/assets/javascripts/othoundsto_song/song.js"></script>-->

</body>
</html>
